:root {
  --headerFont: "Libre", Arial, Helvetica, sans-serif;
  --bodyFont: "Franklin", Arial, Helvetica, sans-serif;
  --blue: hsl(223, 87%, 63%);
  --paleBlue: hsl(223, 100%, 88%);
  --lightRed: hsl(354, 100%, 66%);
  --gray: hsl(0, 0%, 59%);
  --darkBlue: hsl(209, 33%, 12%);
  --bodyTextColor: #404040;
}

::placeholder {
  color: var(--gray);
  font-size: 20px;
}

body {
  font-family: var(--bodyFont);
  color: var(--bodyTextColor);
  margin: 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 1440px;
}

.headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerLogo {
  margin: 20px 0;
  width: 200px;
}

.launchHeader {
  color: var(--gray);
  font-size: 3.5rem;
  text-align: center;
  font-weight: 300;
  margin: 10px 0 10px 0;
}

.launchSpan {
  color: var(--darkBlue);
  font-size: 3.5rem;
  font-weight: 600;
}

.subHeader {
  color: var(--darkBlue);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 10px 0 10px 0;
}

.inputSection,
.dashboardSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notifyInput {
  border-radius: 2rem;
  border: 1px solid var(--blue);
  height: 40px;
  width: 300px;
}

.notifyButton {
  background: var(--blue);
  color: white;
  font-size: 20px;
  border: 1px solid var(--blue);
  border-radius: 2rem;
  width: 140px;
  height: 44px;
  margin-left: 20px;
}

.dashboardImg {
  width: 600px;
  margin: 10px 0;
}

/* mobile media queries */
@media only screen and (max-width: 375px) {
}
